<div class="row login-container">
    <ngb-tabset #t="ngbTabset" class="col-xs-12 col-sm-6 offset-sm-3">
        <ngb-tab title="Sign in">
            <template ngbTabContent>
                <div class="mt-1">
                    <form (ngSubmit)="onLogin()" #login="ngForm">
                        <div class="has-danger" *ngIf="hasError('generalError')">
                            <div class="errors">
                                <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'generalError'">{{errorMessage.msg}}</div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('email') }">
                            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" [ngClass]="{ 'form-control-danger': hasError('email') }" [(ngModel)]="email" name="email"
                                    id="email" placeholder="email@domain.com" required />
                            </div>
                            <div class="errors">
                                <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'email'">{{errorMessage.msg}}</div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('password') }">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" [ngClass]="{ 'form-control-danger': hasError('password') }" [(ngModel)]="password"
                                    name="password" id="password" placeholder="********" required />
                            </div>
                            <div class="errors">
                                <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'password'">{{errorMessage.msg}}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" [disabled]="!login.form.valid">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Sign up">
            <template ngbTabContent>
                <div class="mt-1">
                    <form (ngSubmit)="onRegister()" #register="ngForm">
                        <div class="form-group row">
                            <label for="regEmail" class="col-sm-2 col-form-label">E-mail</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" [(ngModel)]="regEmail" name="regEmail" id="regEmail" placeholder="email@domain.com"
                                    required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success" [disabled]="!register.form.valid">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Angular 2 CMS" [disabled]="true">
        </ngb-tab>
    </ngb-tabset>
</div>