<div class="row login-container">
    <ngb-tabset #t="ngbTabset" class="col-xs-12 col-sm-6 offset-sm-3">
        <ngb-tab title="Registration">
            <template ngbTabContent>
                <div class="mt-1">
                    <form (ngSubmit)="onRegister()" #register="ngForm">
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('email') }">
                            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                            <div class="col-sm-10">
                                <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" [ngClass]="{ 'form-control-danger': hasError('email') }"
                                    placeholder="email@domain.com" required />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'email'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('password') }">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" [ngClass]="{ 'form-control-danger': hasError('password') }" [(ngModel)]="password"
                                    name="password" id="password" placeholder="*******" required />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'password'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('passwordRepeat') }">
                            <label for="passwordRepeat" class="col-sm-2 col-form-label">Password (repeat)</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" [ngClass]="{ 'form-control-danger': hasError('passwordRepeat') }" [(ngModel)]="passwordRepeat"
                                    name="passwordRepeat" id="passwordRepeat" placeholder="*******" required />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'passwordRepeat'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('name') }">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [ngClass]="{ 'form-control-danger': hasError('name') }" [(ngModel)]="name" name="name"
                                    id="name" placeholder="John" required />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'name'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('surname') }">
                            <label for="surname" class="col-sm-2 col-form-label">Surame</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" [ngClass]="{ 'form-control-danger': hasError('surname') }" [(ngModel)]="surname"
                                    name="surname" id="surname" placeholder="Freeman" required />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'surname'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('birthday') }">
                            <label for="birthday" class="col-sm-2 col-form-label">Date of birth</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="date" value="2011-08-19" [(ngModel)]="birthday" name="birthday" id="birthday" />
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'birthday'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{ 'has-danger': hasError('gender') }">
                            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                <select class="form-control" [ngClass]="{ 'form-control-danger': hasError('gender') }" id="gender" name="gender" [(ngModel)]="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <div class="errors">
                                    <div class="form-control-feedback" *ngFor="let errorMessage of errorMessages | errors : 'param' : 'gender'">{{errorMessage.msg}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-success" [disabled]="!register.form.valid">Sign up</button>
                                <a href="/" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Angular 2 CMS" [disabled]="true">
        </ngb-tab>
    </ngb-tabset>
</div>

<template ngbModalContainer #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
        <h4 class="modal-title">Registration Successful!</h4>
    </div>
    <div class="modal-body">
        <p>Registraiton has been successful. You will be redirected to index page.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    </div>
</template>