<navbar></navbar>
<div class="row mt-1">
    <div class="col-sm-12">
        <h4>Users</h4>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>E-mail</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.birthday | date: 'dd.MM.yyyy'}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <a [routerLink]="['/home/editUser', user.id]">Edit</a>
                        <a [routerLink]="['/home/users']" (click)="deleteUser(user.id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a [routerLink]="['/home/addUser']" class="btn btn-success">Add new user</a>
    </div>
</div>